h1{
	color: black;
}

body{
	background-color: #99e6e6;
}
#firstdigit{
	color: black;
}
#seconddigit{
	color: black;
}
#symbol {
	color: black;
}

a {
	color: black;
}

p {
	color: black;
}

button {
	color: black;
}

#messagebox {
	background-color: #ff9999;
}

#messagetext {
	color: #ff0000;
}

h2 {
	color: black;
}

label {
	color: black;
}

h4 {
	color: black;
}

h3 {
	color: black;
}

li {
	color: black;
}

button {
	background-color: white;
}